
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<table class="table" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.data)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.email</td>
    
        </tr>
        }
    </tbody>
</table>
